[include]
	path = ~/.gitconfig.local
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-hooks
[pull]
	rebase = false
[push]
	default = current
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
