[user]
	name = your-username
	email = your@email.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-hooks
[pull]
	rebase = false
[push]
	default = current
[init]
	defaultBranch = main
